body {
	background-color: lightblue;
	font-size: 3vw;
	font-family: Helvetica, Arial, sans-serif;
	text-align: center;
}
h1 {
	text-shadow: 1px 3px cyan;
	font-size: 8vw;
}
table {
	margin:auto;
	width: 80%;
	padding:10px;
}
textarea {
	font-size: 3vw;
	font-family: Helvetica, Arial, sans-serif;
	border: 2px solid black;
}
button {
	font-size: 3vw;
	background-color: white;
	font-family: Helvetica, Arial, sans-serif;
	color: black;
	border: 2px solid black;
	padding: 10px 24px;
	text-align: center;
	text-decoration: bold;
	display: inline-block;
	border-radius: 4px;
}
button:hover {
	background-color: lightgrey;
}
button:active {
	background-color: grey;
}
input {
	width: 20%;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 3vw;
}
